.sixteen.columns
  #logo
    %h1 Stranded Travel

  
  .search
    = search_form_for @q do |f| 
      = f.text_field :city_or_country_cont 
      = f.submit :id => 'submit'
      // //##searches for a destination that 'city' or 'country' fields contain the input. Search limited to string size (256 characters)

  .photos_container
    %ul
      - @destinations.each do |destination|
        %li
          = link_to(image_tag(destination.photo.insta, :id => 'destination_image'), destination)
          %h3
            =destination.city
      
  %br/

  = paginate @destinations 



  / :javascript
  / $(document).ready(function(){
  /   $("#logo").click(function(){
  /     $(".search").hide();
  /   });
  /   $("#logo").click(function(){
  /     $(".search").show();
  /   });
  / });


/ :javascript
/ $(document).ready(function(){

/   function showLogo() { 
/     $('.search').slideUp(); 
/   },

/   $('#logo').on('click', showLogo);

/ };


/ :javascript
/ $(document).ready(function(){
/   function showLogo() { 
/     $('.search').slideUp();
/   }
/ };

  






