

%p#notice= notice
%h1
  = @destination.city
%p
  %b Country:
  = @destination.country
%p
  %b Description:
  = @destination.description

  

%p
  %b Created by:
  = @destination.user.name


#map-canvas



.eat_container
  %h2 Eat
  %ol
    - @eats.each do |a|
      %li=a.name 
      =a.plusminus 
      -if current_user.voted_against?(a) || current_user.voted_for?(a)
        =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
      -else
        =link_to 'vote up', vote_up_activity_path(a), :method => :post
        =link_to 'vote down', vote_down_activity_path(a), :method => :post
      


.drink_container
  %h2 Drink
  %ol
    - @drinks.each do |a|
      %li=a.name
      =a.plusminus
      -if current_user.voted_against?(a) || current_user.voted_for?(a)
        =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
      -else
        =link_to 'vote up', vote_up_activity_path(a), :method => :post
        =link_to 'vote down', vote_down_activity_path(a), :method => :post

.sleep_container
  %h2 Sleep
  %ol
    - @sleeps.each do |a|
      %li=a.name
      =a.plusminus
      -if current_user.voted_against?(a) || current_user.voted_for?(a)
        =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
      -else
        =link_to 'vote up', vote_up_activity_path(a), :method => :post
        =link_to 'vote down', vote_down_activity_path(a), :method => :post



.explore_container
  %h2 Explore
  %ol
    - @explores.each do |a|
      %li=a.name
      =a.plusminus
      -if current_user.voted_against?(a) || current_user.voted_for?(a)
        =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
      -else
        =link_to 'vote up', vote_up_activity_path(a), :method => :post
        =link_to 'vote down', vote_down_activity_path(a), :method => :post




= link_to 'Add Activity', new_destination_activity_path(@destination.id)

%p
  %b Latest from #{@destination.city}
  / =image_tag @destination.photo.medium
  - @images.each do |image|
    =image_tag image

%h3 Comments:

.fb-comments{ 'data-href' => "http://example.com/comments", 'data-numposts' => "5", 'data-colorscheme' => "dark"}



-if can? :edit, @destination
  = link_to 'Edit', edit_destination_path(@destination)

-if can? :destroy, @destination
  = link_to 'Destroy', @destination, method: :delete, data: { confirm: 'Are you sure?' }



#{link_to 'Back', destinations_path}

=hidden_field_tag :longitude, @destination.longitude
=hidden_field_tag :latitude, @destination.latitude


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=744937855516502";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));








