%p#notice= notice
%h1
  = @destination.city
%p
  %b Country:
  = @destination.country
%p
  %b Description:
  = @destination.description
%p
  %b photo:
  =image_tag @destination.photo.medium
%p
  %b Latitude:
  = @destination.latitude
%p
  %b Longitude:
  = @destination.longitude
%p
  %b Created by:
  = @destination.user.name



.eat_container
  %h2 Eat
  = @activities 

.drink_container
  %h2 Drink

.sleep_container
  %h2 Sleep

.explore_container
  %h2 Explore

= link_to 'Add Activity', new_destination_activity_path(@destination.id)



-if can? :edit, @destination
  = link_to 'Edit', edit_destination_path(@destination)

-if can? :destroy, @destination
  = link_to 'Destroy', @destination, method: :delete, data: { confirm: 'Are you sure?' }



#{link_to 'Back', destinations_path}










