.sixteen.columns.show

  #country_header
    %h1
      = @destination.city
    %h3
      = @destination.country
  
  // Large show image
  =image_tag @destination.photo.detail, :id => 'big_image'
  
  #description 
    %p
      =@destination.description
      %br
      %span
        As described by #{@destination.user.name}

  .activities.sixteen.columns

    .seven.columns.eat_container
      %h2 Eat
      %ol
        - @eats.each do |a|
          %li= a.url.blank? ? a.name : link_to(a.name, a.url)
          =a.plusminus
          -if current_user
            -if current_user.voted_against?(a) || current_user.voted_for?(a)
              =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
            -else
              =link_to vote_up_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-up
              =link_to vote_down_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-down 
  
    .seven.columns.drink_container
      %h2 Drink
      %ol
        - @drinks.each do |a|
          %li= a.url.blank? ? a.name : link_to(a.name, a.url)
          =a.plusminus
          -if current_user
            -if current_user.voted_against?(a) || current_user.voted_for?(a)
              =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
            -else
              =link_to vote_up_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-up
              =link_to vote_down_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-down 

    .seven.columns.sleep_container
      %h2 Sleep
      %ol
        - @sleeps.each do |a|
          %li= a.url.blank? ? a.name : link_to(a.name, a.url)
          =a.plusminus
          -if current_user
            -if current_user.voted_against?(a) || current_user.voted_for?(a)
              =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
            -else
              =link_to vote_up_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-up
              =link_to vote_down_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-down 

    .seven.columns.explore_container
      %h2 Explore
      %ol
        - @explores.each do |a|
          %li= a.url.blank? ? a.name : link_to(a.name, a.url)
          =a.plusminus
          -if current_user
            -if current_user.voted_against?(a) || current_user.voted_for?(a)
              =link_to 'remove vote', remove_vote_activity_path(a), :method => :post
            -else
              =link_to vote_up_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-up
              =link_to vote_down_activity_path(a), :method => :post do
                %i.fa.fa-thumbs-o-down 


  #add_activity
    %i.fa.fa-plus.fa-2x New Activity


  / #lean_overlay.form_hide
  #activities_form
    = render :partial => '/activities/form'

  
  .latest
    %h2 Latest from ##{@destination.city}

  .insta_images
    - @images.each do |image|
      =image_tag image

  .latest
    %h2 ##{@destination.city} #Travel

  #map-canvas 

  #twitterbox
    %p twitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twittertwitter twitter twitter twitter twitter twitter

  .comments
    %h3 Comments:
    #fbcomments
      .fb-comments{ 'data-href' => "http://example.com/comments", 'data-numposts' => "5", 'data-colorscheme' => "light"}

  .bottom_nav

    -if can? :edit, @destination
      = link_to 'Edit', edit_destination_path(@destination)

    -if can? :destroy, @destination
      = link_to 'Destroy', @destination, method: :delete, data: { confirm: 'Are you sure?' }

    #{link_to 'Back', destinations_path}


=hidden_field_tag :longitude, @destination.longitude
=hidden_field_tag :latitude, @destination.latitude


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=744937855516502";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));



/ :javascript
/ $(document).ready(function(){
  
/   $("#add_activity").on('click', function(el) {
/   console.log('clicked!');
/     $(el.currentTarget).leanModal();
/   });

/ };
