<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @destination.city %>
</p>

<p>
  <b>Country:</b>
  <%= @destination.country %>
</p>

<p>
  <b>Description:</b>
  <%= @destination.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @destination.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @destination.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @destination.user_id %>
</p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
