%p#notice= notice
%p
  %b City:
  = @destination.city
%p
  %b Country:
  = @destination.country
%p
  %b Description:
  = @destination.description
%p
  %b photo:
  =image_tag @destination.photo.medium
%p
  %b Latitude:
  = @destination.latitude
%p
  %b Longitude:
  = @destination.longitude
%p
  %b User:
  = @destination.user_id
= link_to 'Edit', edit_destination_path(@destination)
= link_to 'Destroy', @destination, method: :delete, data: { confirm: 'Are you sure?' }
|
\#{link_to 'Back', destinations_path}
