.sixteen.columns.show

  #country_header
    %h1
      = @destination.city
    %h3
      = @destination.country
  
  // Large show image
  =image_tag @destination.photo.detail, :id => 'big_image'
  
  #description 
    %p
      =@destination.description
      %br
      %span
        As described by #{@destination.user.name}

  .activities.sixteen.columns
    
    .seven.columns#eat_container
      = render :partial => '/activities/eat'
  
    .seven.columns#drink_container
      = render :partial => '/activities/drink'

    .seven.columns#sleep_container
      = render :partial => '/activities/sleep'

    .seven.columns#explore_container
      = render :partial => '/activities/explore'


  - if current_user
    = link_to '#', id: 'add_activity' do
      %i.fa.fa-plus.fa-2x New Activity
  -else
    = link_to new_user_session_path do
      %i.fa.fa-sign-in.fa-2x 
        %h5
          Sign in to Vote!

  
  / #lean_overlay.form_hide
  #activities_form
    = render :partial => '/activities/form' 
    
  
  = link_to '#', id: 'all_eat' do
    %i.fa.fa-plus.fa-2x All Eat

  #complete_eat
    = render :partial => '/activities/complete_eat'

  
  .latest
    %h2 Latest from ##{@destination.city}

  .insta_images
    - @images.each do |image|
      =image_tag image

  .latest
    %h2 ##{@destination.city} #Travel

  #map-canvas 

  #twitterbox
    - @twitter_data.each do |tweet| 
      %h4
        = tweet.user.name

      / {{ '<%= auto_link("tweet.text") %>' |e }}

      = raw auto_link(tweet.text) 
      %br

  .comments
    %h3 Comments:
    #fbcomments
      .fb-comments{ 'data-href' => "#{request.original_url}", 'data-numposts' => "5", 'data-colorscheme' => "light"}

  .bottom_nav

    -if can? :edit, @destination
      = link_to 'Edit', edit_destination_path(@destination)

    -if can? :destroy, @destination
      = link_to 'Destroy', @destination, method: :delete, data: { confirm: 'Are you sure?' }

    #{link_to 'Back', destinations_path}


=hidden_field_tag :longitude, @destination.longitude
=hidden_field_tag :latitude, @destination.latitude



#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=744937855516502";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));



/ :javascript
/ $(document).ready(function(){
  
/   $("#add_activity").on('click', function(el) {
/   console.log('clicked!');
/     $(el.currentTarget).leanModal();
/   });

/ };
