!!!
%html
  %head
    %title StrandedTravel
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href =>'http://fonts.googleapis.com/css?family=Amatic+SC:400,700', :rel => 'stylesheet', :type =>'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald', :rel => 'stylesheet', :type => 'text/css'}
    / %script{src: "app/assets/javascripts/jquery.leanModal.min2.js", type: "text/javascript"}


  %body

    .container
      %nav 
        = link_to destinations_path do
          %i.fa.fa-home.fa-2x

        / -if current_user
        /   #id=current_user.email

        -if current_user
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-sign-out.fa-2x
        -else
          = link_to new_user_session_path do
            %i.fa.fa-sign-in.fa-2x

          = link_to new_user_registration_path do
            %i.fa.fa-user.fa-2x

        = link_to new_destination_path do
          %i.fa.fa-rocket.fa-2x

        = link_to do
          %i.fa.fa-search.fa-2x

        = link_to new_destination_path do
          %i.fa.fa-star.fa-2x

      -if current_user
        #current_email
          =current_user.email

      %p.notice= notice
      %p.alert= alert
      = yield